<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <title>Dashboard</title>
    <script>
      function logout (e){
        localStorage.removeItem("email");
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            email: lemail,
          }).toString(),
        }).then((res) => res.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.href = "/login";
            }
          });
      };
    </script>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h1 class="display-5" id="name"></h1>
        {% if email %}
            <h1 class="display-5" id="name">Welcome {{email}}</h1>
        {% endif %}
        <div class="col">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <h1>Dashboard</h1>
              </div>
              <div class="col-md-6">
                <form id="form1">
                  <button type="button" class="btn btn-primary" onclick="logout()">Logout</button>
                </form>
              </div>
            </div>
          </div>
          <div class="">
            <form id="form">
              <button type="submit" class="btn btn-primary">Create QR</button>
            </form>
            <img class="qr" id="qr"></img>
          </div>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById("form");
      const form1 = document.getElementById("form1");
      const lemail = localStorage.getItem("email");
      if(lemail){
        document.getElementById("name").innerHTML = "Welcome " + lemail;
      }


      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch("/createqr", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            email: lemail,
          }).toString(),
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.status === "success") {
              document.getElementById("qr").src = "./static/"+ data.token +".png";
              console.log(data.link)
            }else{
              alert("Not Logged In")
            }
          });
      });
    </script>
  </body>
</html>
